@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap");

:root {
  font-family: "Roboto Flex", sans-serif;
  /*padding*/
  --padding-top-small: 2%;
  --padding-bottom-small: 2%;
  --padding-top-medium: 4.5%;
  --padding-bottom-medium: 4.5%;

  --padding-services: 5%;

  /* imágenes*/
  --img-width-logo: 100px;
  --img-width-redes: 30px;
  --img-width-profile: 100px;
  --img-width-services: 60px;
  --img-margin-top-profile: -50px;
  --img-width-client-testimonials: 60px;

  /*colores*/
  
  /*tamaños*/
  --texto-super-grande: 3rem;
  --texto-grande: 2.5rem;
  --texto-pequeyo: 0.8rem;

  /*espaciado*/
  --espaciado: 1.5;
}
header {
  position: relative;
  padding-bottom: var(--padding-bottom-medium);
  /* Imagen de fondo*/
  background-image: url("../img/headerbackground.png");

  /* forma triangular */
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
  /*Ocultar h1*/
  h1 {
    display: none;
  }
  div {
    color: aqua;
    padding-top: var(--padding-top-medium);
    font-weight: bold;
    text-align: center;
  }
  p {
    font-weight: lighter;
    font-size: var(--texto-super-grande);
    text-align: center;
    color: white;

    span {
      font-weight: bolder;
    }
  }

  img {
    width: var(--img-width-logo);
    height: auto;
  }
  nav {
    /*colocar el nav en la derecha*/
    position: absolute;
    top: 0;
    right: 0;

    h2 {
      display: none;
    }
    display: inline-flex;
    ul {
      list-style: none;
      li {
        display: inline;
        margin-right: 20px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  section {
    h2 {
      display: none;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      li {
        margin-right: 10px;
        a {
          img {
            width: var(--img-width-redes);
            height: auto;
            background-color: white;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
main {
  /*About*/
  .about {
    h2 {
      display: none;
    }
    /*Profile*/
    section {
      h3 {
        display: none;
      }
      img {
        width: var(--img-width-profile);
        height: auto;
        border-radius: 50%;
        display: block;
        margin: auto;
        border: 5px solid aqua;

        /*para que pueda verse encima del final del header*/
        margin-top: var(
          --img-margin-top-profile
        ); /* para que pueda subir la mitad de su tamaño*/
        position: relative;
        z-index: 10;
      }
      div {
        text-align: center;
        font-weight: bold;
        padding-top: 1%;
        font-size: 1.5rem;
      }
      div:nth-of-type(2) {
        font-weight: lighter;
        padding-top: 0.25%;
        font-size: 1rem;
        padding-bottom: var(--padding-bottom-small);
      }
      p {
        text-align: center;
        padding-bottom: var(--padding-bottom-small);
        max-width: 30%;
        margin: 0 auto;
        font-weight: lighter;
        font-size: var(--texto-pequeyo);
        line-height: var(--espaciado);
      }
      section {
        h4 {
          display: none;
        }
        /* Technologies */
        ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;
          max-width: 30%; /* para que quepan 8 arriba y 3 abajo, como en la imagen referencia*/
          margin: 0 auto;

          justify-content: center; /* centra la fila */
          list-style: none;

          padding-bottom: var(--padding-bottom-medium);
        }
        ul li div {
          font-size: 10px;
          border: 1px solid #dcdcdc;
          padding: 6px 10px;
          border-radius: 4px; /* redondear los divs */
          background: #f9f9f9;
        }
      }
    }
  }
  /*Skills*/
  .skills {
    h2 {
      font-weight: bolder;
    }
    background-color: lightgray;
    h3 {
      text-align: center;
      font-size: 2rem;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 20px;
      list-style: none;
      padding: 0 40px 40px 40px;
      max-width: 1200px;
      margin: 0 auto;
      /*padding*/
      padding-top: var(--padding-top-medium);
      padding-bottom: var(--padding-bottom-medium);

      li {
        width: 100%;
        label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
        }
        progress {
          width: 100%;
          height: 20px;
        }
      }
    }
  }
  /*Services*/
  .services {
    h2 {
      display: block;
      text-align: center;
      font-weight: normal;
    }
    div {
      text-align: center;
      font-size: var(--texto-grande);
      span {
        font-weight: bold;
      }
    }
    ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 20px;
      padding: 0 40px 40px 40px;
      max-width: 1200px;
      margin: 0 auto;
      /*padding*/
      padding-top: var(--padding-top-medium);
      padding-bottom: var(--padding-bottom-medium);
    }
    ul li {
      article {
        border: 1px solid #dcdcdc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: var(--padding-services);
        img {
          margin: auto;
          display: block;
          border-radius: 50%;
          width: var(--img-width-services);
        }
        h3 {
          text-align: center;
        }
        p {
          text-align: center;
          font-weight: lighter;
        }
      }
    }
  }
  /*Recent work*/
  .recent-work {
    padding-bottom: var(--padding-bottom-medium);
    h2 {
      text-align: center;
      font-weight: normal;
    }
    div {
      display: block;
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 1rem;
      font-weight: 300;
      span {
        font-weight: 700;
      }
    }

    /* Filters section */
    section {
      text-align: center;
      margin-bottom: 3rem;

      h3 {
        display: none;
      }
      ul {
        list-style: none;
        display: inline-flex;
        gap: 2rem;
        padding: 0;

        li {
          a {
            text-decoration: none;
            color: #888;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 0.9rem;
            transition: color 0.3s ease;

            &:hover,
            &.active {
              color: #40e0d0; /* Active/Hover color */
            }
          }
        }
      }
    }

    /* Grid de las imágenes */
    > ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 columnas */
      grid-template-rows: repeat(2, auto); /* 2 filas */
      gap: 30px; /* Restore gap */
      padding: 0; /* Quitar el padding del grid si se centra mediante el ancho máximo */
      width: 100%;
      max-width: 1200px; /* Limitar el ancho para permitir el centrado */
      margin: 0 auto; /* Centrar el contenedor del grid */

      li {
        margin: 0;
        padding: 0;

        article {
          img {
            width: 100%;
            height: auto;
            display: block;
          }
          h3 {
            display: none;
          }
        }
      }
    }
  }
  /*Client testimonials*/
  .client-testimonials {
    padding-top: var(--padding-top-medium);
    padding-bottom: var(--padding-bottom-medium);
    background-color: lightgray;
    h2 {
      text-align: center;
      font-weight: normal;
    }
    div {
      padding-bottom: var(--padding-bottom-medium);
      display: block;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 300;
      span {
        font-weight: 700;
      }
    }
    img {
      width: var(--img-width-client-testimonials);
      display: block;
      margin: auto;
      border-radius: 50%;
      border: 5px solid aqua;
    }
    p {
      padding-bottom: var(--padding-bottom-small);
      padding-top: var(--padding-top-small);
      font-weight: lighter;
      text-align: center;
      max-width: 30%;
      margin: 0 auto;
      font-size: var(--texto-pequeyo);
      line-height: var(--espaciado);
    }
    cite {
      display: block;
      font-weight: bold;
      text-align: center;
    }
  }
}
