:root {
}
header {
  position: relative;
  /* Imagen de fondo*/
  background-image: url("../img/headerbackground.png");
  /*Ocultar h1*/
  h1 {
    display: none;
  }
  div {
    color: aqua;
    padding-top: 100px;
    font-weight: bold;
    text-align: center;
  }
  p {
    font-weight: lighter;
    font-size: xx-large;
    text-align: center;
    color: white;

    span {
      font-weight: bolder;
    }
  }

  img {
    width: 50px;
    height: auto;
  }
  nav {
    display: inline-flex;
    ul {
      list-style: none;
      li {
        display: inline;
        margin-right: 20px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  section {
    h2 {
      display: none;
    }
    ul {
      list-style: none;
      li {
        display: inline;
        margin-right: 10px;
        a {
          img {
            width: 30px;
            height: auto;
          }
        }
      }
    }
    display: flex;
    justify-content: center;
  }
}
main {
  /*About*/
  section {
    h2 {
      display: none;
    }
    /*Profile*/
    section {
      img {
        width: 100px;
        height: auto;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
      }
    }
  }
  /*Services*/
  section {
    h2 {
      display: none;
    }
  }
  /*Recent work*/
  section {
    h2 {
      display: none;
    }
    section {
      h3 {
        display: none;
      }
      ul {
        list-style: none;
        display: inline-block;
      }
    }
    ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 columnas */
      grid-template-rows: repeat(2, auto); /* 2 filas */
      gap: 2px; /* separación entre imágenes */
      padding: 0 20px; /* padding izquierda y derecha */
      li {
        margin: 0;
        padding: 0;
        article {
          img {
            width: 100%; /* que ocupe toda la celda */
            height: auto; /* mantener proporción */
            display: block;
          }
          h3 {
            display: none;
          }
        }
      }
    }
  }
}
