:root {
}
header {
  position: relative;
  /* Imagen de fondo*/
  background-image: url("../img/headerbackground.png");
  /*Ocultar h1*/
  h1 {
    display: none;
  }
  img {
    width: 130px;
    height: auto;
  }
  nav {
    display: inline-flex;
    ul {
      list-style: none;
      li {
        display: inline;
        margin-right: 20px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  section {
    h2 {
      display: none;
    }
    ul {
      list-style: none;
      li {
        display: inline;
        margin-right: 10px;
        a {
          img {
            width: 30px;
            height: auto;
          }
        }
      }
    }
    display: flex;
    justify-content: center;
  }
}
main {
  /*About*/
  section {
    h2 {
      display: none;
    }
  }
  /*Services*/
  section {
    h2 {
      display: none;
    }
  }
  /*Recent work*/
  section {
    h2 {
      display: none;
    }
    section{
      h3 {
        display: none;
      }
      ul{
        list-style: none;
        display: inline-block;
        }
    }
    ul{
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      /*Imagenes 3x2*/
      li {
        margin: 0;
        padding: 0;
        article {
          img {
            width: 200px;
            height: auto
          }
          h3 {
            display: none;
          }
        }
      }
    }
  }

}
