:root {
}
header {
    position: relative;
  /* Imagen de fondo*/
  background-image: url("../img/headerbackground.png");
  /*Ocultar h1*/
  h1 {
    display: none;
  }
  img {
    width: 130px;
    height: auto;
    
  }
  nav {
    display: inline-flex;
    ul {
      list-style: none;
      li {
        display: inline;
        margin-right: 20px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  section {
    h2 {
      display: none;
    }
    ul {
      list-style: none;
      li {
        display: inline;
        margin-right: 10px;
        a {
          img {
            width: 30px;
            height: auto;
          }
        }
      }
    }
    display: flex;
    justify-content: center;
  }
}
main {
}
